@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg: #ffffff;
  --border: #E0E0E0;
  --text: #222222;
  --second-text: #797979;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #191919;
    --border: #383838;
    --text: #f2f2f2;
    --second-text: #797979;
  }
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  font-size: 0.875rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 0.275rem 0.6rem;
  border: 1px solid var(--border);
  background: inherit;
  color: inherit;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid var(--text);
}

.btn:focus {
  outline: 1px dashed var(--text);
}

.good {
  color: #CCF67D;
}

.bad {
  color: #F17C74;
}

.second {
  color: var(--second-text);
}

